/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f26a2e;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: auto;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f26a2e;
}

nav ul li a.active {
  background-color: white;
  color:#d45a24;
}

/* Hero Section Styles */
.hero {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #f26a2e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d45a24;
}
  
/* Main Section Styles */
.cnt1 {
  background-color: #d45a24;
  display: flex;
  align-items: center;
}

.phtAI {
  flex: 0 0 60%; /* Adjust width of photo container */
  height: 100%;
}

.phtAI img {
  width: 100%;
  height: 90vh;
  margin-bottom: -7px;
  padding-inline: 0px 10px;
  padding-bottom: auto;
}

.txtPhtAI {
  flex: 1;
  padding-left: 40px; /* Add spacing between photo and text */
  padding-right: 20px;
}

.txtPhtAI h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff7f7;
}

.txtPhtAI p {
  font-size: 18px;
  color: #d4d4d4;
}


.cnt2 {
  background-color: #d45a24;
  display: flex;
  align-items: center;
}

.cnt2 .phtAI {
  flex: 0 0 60%; /* Adjust width of photo container */
}

.cnt2 .phtAI img {
  width: 100%;
  height: 85vh;
  padding-inline: 20px 0;
  padding-bottom: auto;
}

.cnt2 .txtPhtAI {
  flex: 1;
  padding-left: 40px; /* Add spacing between photo and text */
  padding-right: 20px;
}

.cnt2 .txtPhtAI h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff7f7;
}

.cnt2 .txtPhtAI p {
  font-size: 18px;
  color: #d4d4d4;
}


.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin-top: 20px;
  margin-top: auto;
  margin-bottom: 100px;
  padding-top: 100px;
}

.features h2 {
  float: center;
  font-size: 38px;
  text-align: center;
  justify-content: center;
  width: 100vw;
}

.features h3 {
  float: center;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin: 0 0 40px;
}

.feature {
  background-color: #ec5211d5;
    flex: 0 0 30%;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature img {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.feature h4 {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.feature p {
  color: #e3e3e3;
  font-size: 16px;
}

/* Section  Styles */
.cntReviews {
  background-color: #d45924d4;
  color: #000000;
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  border-top: 1px solid #d45924d4;
  border-bottom: 1px solid #d45924d4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}



/* section about */
.about {
  height: 50vh;
  width: 100vw;
  background-color: #d45a24;
  padding: 50px; 
  justify-content: center;
  align-items: center;
}

.about .cntAbout {
  display: block;
  color: #ffffff;
  float: center;
  margin: 0 3vw 50px;
  align-items: center;
  justify-content: center;
}


.about .alperen, .about .sam {
  align-items: center;
  justify-content: center;
  margin: 20px 30px;
  display: flex;
  height: 20vh;
  width: auto;
}

.about .alperen .phtAbout img{
  height: 11vh;
}

.phtAbout {
  flex: 0 0 40%; /* Adjust width of photo container */
}

.phtAbout img {
  border-radius: 50%; /* Make the photo appear as a circle */
  overflow: hidden; /* Hide any content outside the circle */
  float: left;
  width: 5vw;
  height: 10vh;
  height: auto;
  margin-right: 20px;
}

.txtAbout {
  flex: 1;
  padding-left: 20px; /* Add spacing between photo and text */
}

.txtAbout h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffbf00;
}

.txtAbout p {
  font-size: 16px;
  color: #d4d4d4;
  font-style: oblique;
}

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }

@media (max-width: 800px){

  .logo {
    margin: 2px 10px;
}

nav .logo-image {
    width: 20%;
    margin: 0;
}

nav {
width: 100%;
}
nav ul li {
  margin-right: 20px;
}

nav ul li a { 
  margin: 0;
  font-size: smaller;
}

.cnt1 {
  flex-direction: row;
}

.phtAI {
  flex: 0 0 55%; /* Adjust width of photo container */
}

.phtAI img {
  width: 100%;
  height: 65vh;
}

.txtPhtAI {
 font-size: smaller;
}

.txtPhtAI h2 {
  font-size: 16px;
}

.txtPhtAI p {
  font-size: 13px;
}

.about {
  height: 70vh;
}


.about .alperen, .about .sam {
  display: block;
  width: 100%;
  margin-left: -10px;
}

.about .sam {
  margin-top: 20px;
  margin-left: -5px;
}

.phtAbout img {
  border-radius: 50%; /* Make the photo appear as a circle */
  width: 15vw;
  height: 10vh;
  height: auto;
  margin-right: 20px;
}

.txtAbout {
  margin-bottom: 10px
}

.txtAbout h2 {
  font-size: 18px;
}

.txtAbout p {
  font-size: 14px;
}

.footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }

}