<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReceptGPT</title>
    <link rel="stylesheet" href="GPT.css">
  
    <script src="https://kit.fontawesome.com/2c811ac865.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>

    <header>
    <nav>
        <div class="logo">
            <img src="logoChef.png" alt="ReceptGPT Logo">
            <h1>ReceptGPT</h1>
        </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="Recipes.html"> Recipes </a></li>
          <li><a class="active" href="GPT.html">GPT</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
    </nav>


    <div class="hero">
            <h1>Recipe Finder</h1>

            <form><div class="tags-input">
                <ul id="tags"></ul> 
                <input type="text" id="search" placeholder="Enter ingredients" >
                <button type="submit" id="submit" class="btnSrch">Search</button>
                <button type="button" class="btnShuffle" onclick="shuffleRecipes()"> 
                    <i id="shuffle" class="fa-solid fa-shuffle" aria-hidden="true"></i>
                </button>
            </div></form>

    </div>

   </header>
   <!-- 
    <nav> 
        <label class="logo"> ReceptGPT </label>
        <div class="logo-image">  </div>
        <div class="topnav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Recipes.html"> Recipes </a></li>
            <li><a class="active" href="GPT.html">GPT</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
    </nav>
    -->

    <div class="background-image"> 
        <div id="results"></div>
    </div>
    <button id="load-more"> show more </button> 

    <footer>
        <div id="footer" class="footer">
        <div class="row">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        
        <div class="row">
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Recipes.html">Recipes.html</a></li>
        <li><a href="GPT.html"> GPT</a></li>
        <li><a href="about.html">Contact us</a></li>
        </ul>
        </div>
        
        <div class="row">
        INFERNO Copyright © 2024 Inferno - All rights reserved || Designed By: Alperen Arslan
        </div>
        </div>
        </footer>

    
<!-- 
    <footer>
      <p>&copy; 2024 ReceptGPT. All rights reserved.</p>
   </footer>
   -->
    <script src="GPT.js"></script>
    <script src="navBar.js"></script>

</body>
</html>