<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReceptGPT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <!-- link to menu-icon font -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- css links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logoChef.png') }}" alt="ReceptGPT Logo">
                <a href="{{ url_for('index') }}">ReceptGPT</a>
            </div> 
            <input type="checkbox" id="check-menu">
            <label for="check-menu" class="icons"> 
              <i class='bx bx-menu' id="menu-icon"></i>
              <i class='bx bx-x' id="closed-icon"></i>
            </label>
            <div class="nav-menu"> 
              <ul>
                <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('recipes') }}"> Recipes </a></li>
                <li><a href="{{ url_for('gpt') }}">GPT</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
              </ul>
           </div>
        </nav>

        <div class="hero">
          <h1>Welcome to <span>ReceptGPT</span> </h1>
          <p>Explore a world of delicious recipes with AI assistance.</p>
          <a href="{{ url_for('gpt') }}" class="btn">Get Started</a>
        </div>
    </header>

<main>
  <section class="containers">
    <div class="cnt n1">
      <div class="phtAI">
          <img src="{{ url_for('static', filename='images/AI1.jpeg') }}" alt="Photo of a kitchen">
      </div>
       <div class="txtPhtAI">
        <div class="textAI">
          <h2>What is ReceptGPT? </h2>
          <p>ReceptGPT employs advanced algorithms and machine learning to search through a comprehensive database of recipes and provide users with relevant and useful information. Whether you're looking for a quick and easy dish for a weeknight dinner or an impressive recipe for a special occasion, ReceptGPT has you covered. </p>
        </div>
      </div>
    </div>
   </section>


  <section class="features">
     <h2>What We Offer</h2>
     <h3>ReceptGPT is an advanced platform utilizing AI technology to assist users in discovering and preparing various dishes. It enables users to:</h3>
            
     <div class="feature">
       <!-- <img src="feature1.png" alt="Recipe Suggestions"> -->
       <h4>Recipe Suggestions</h4>
       <p>Get personalized recipe suggestions based on your preferences.</p>
      </div>
      <div class="feature">
        <!-- <img src="feature3.png" alt="Health Tips"> -->
        <h4>Randomizer Feature</h4>
        <p> If you're unsure what to cook, utilize our Randomizer feature to generate random recipes and explore new dishes.</p>
      </div>
      <div class="feature">
        <!-- <img src="feature2.png" alt="Cooking Instructions"> -->
        <h4>Cooking Instructions</h4>
        <p>Step-by-step cooking instructions for each recipe and every ingredient needed is shown.</p>
       </div>   
  </section>

  <sections class="containers">
  <div class="cnt twisted">
    <div class="txtPhtAI">
      <h2>Why choose ReceptGPT?</h2>
      <p>With ReceptGPT, you'll save time and effort when searching for recipes and planning meals. Whether you're a novice cook or a seasoned chef, ReceptGPT offers the tools and inspiration you need to create creative and flavorful dishes. </p>
    </div>
    <div class="phtAI"> 
      <img src="{{ url_for('static', filename='images/AiCooks1.jpeg') }}" alt="photo of a kitchen" 
      fetchpriority="high" width="2000" height="695" decoding="async" data-nimg="1" class="rounded-xl lg:rounded-2xl shadow-xl" style="color:transparent">
    </div>
 </div>

 </sections>


<!-- reviews on homepage -->
<section class="cntReviews">
  <div class="testimonial-grid">
    <div class="testimonial bg-primary-400">
      <p>"ReceptGPT is user-friendly, packed with delicious recipes, and offers great search options."</p>
      <p class="name">Tom</p>
      <p class="position">customer</p>
    </div>
    <div class="testimonial bg-secondary-400">
      <p>"It works well, also a perfect filter with a lot of options."</p>
      <p class="name">Seyf</p>
      <p class="position">customer</p>
    </div>
    <div class="testimonial bg-secondary-500">
      <p>"Wow, excellent recipes."</p>
      <p class="name">Abdullah</p>
      <p class="position">customer</p>
    </div>
    <div class="testimonial bg-primary-400">
      <p>"My tummy is filled now, lots of easy and quick recipes. Perfect for Ramadan."</p>
      <p class="name">Shaher</p>
      <p class="position">customer</p>
    </div>
    <div class="testimonial bg-secondary-400">
      <p>"A very good app, but I would prefer an option to mention my allergies."</p>
      <p class="name">Belal</p>
      <p class="position">customer</p>
    </div>
</div>
</section>  

 


  <section class="about">
    <div class="cntAbout">
      <h2>About Us</h2>
      <p>Meet our team of experts dedicated to providing top-notch service.</p>
    </div>
  <div class="alperen">
      <div class="container">
        <div class="phtAbout">
        <img src="{{ url_for('static', filename='images/fotoAlperen.jpeg') }}" alt="Profile Photo">
      </div>
      <div class="txtAbout">
        <h2>Alperen (web designer) </h2>
        <p>"As a web designer, I create attractive visual designs and layouts for websites to provide an optimal user experience."</p>
      </div>
  </div>
  <div class="sam">
      <div class="container">
        <div class="phtAbout">
        <img src="{{ url_for('static', filename='images/fotoSam3.jpeg') }}" alt="Profile Photo">
      </div>
      <div class="txtAbout">
        <h2>Sam (frontend developer)</h2>
        <p>"As a frontend developer, I'm responsible for designing and implementing the user interface of websites." </p>
      </div>
  </div>
 </section>

</main> 
<footer>
  <div class="footer">
  <div class="row">
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>
  
  <div class="row">
  <ul>
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('recipes') }}"> Recipes </a></li>
  <li><a href="{{ url_for('gpt') }}">GPT</a></li>
  <li><a href="{{ url_for('about') }}">About</a></li>
  </ul>
  </div>
  
  <div class="row">
  INFERNO Copyright © 2024 Inferno - All rights reserved || Designed By: Alperen Arslan
  </div>
  </div>
  </footer>


</body>
</html>
