<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReceptGPT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logoChef.png') }}" alt="ReceptGPT Logo">
                <h1>ReceptGPT</h1>
            </div>
            <ul>
              <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('recipes') }}"> Recipes </a></li>
              <li><a href="{{ url_for('gpt') }}">GPT</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>

        <div class="hero">
          <h1>Welcome to ReceptGPT</h1>
          <p>Explore a world of delicious recipes with AI assistance.</p>
          <a href="{{ url_for('gpt') }}" class="btn">Get Started</a>
        </div>
    </header>

<main>
  <section class="containers">
    <div class="cnt1">
      <div class="phtAI">
          <img src="{{ url_for('static', filename='images/AI1.jpeg') }}" alt="Photo of a kitchen">
      </div>
       <div class="txtPhtAI">
          <h2>What is ReceptGPT? </h2>
          <p>ReceptGPT employs advanced algorithms and machine learning to search through a comprehensive database of recipes and provide users with relevant and useful information. Whether you're looking for a quick and easy dish for a weeknight dinner or an impressive recipe for a special occasion, ReceptGPT has you covered. </p>
       </div>
    </div>
   </section>


  <section class="features">
     <h2>What We Offer</h2>
     <h3>ReceptGPT is an advanced platform utilizing AI technology to assist users in discovering and preparing various dishes. It enables users to:</h3>
            
     <div class="feature">
       <!-- <img src="feature1.png" alt="Recipe Suggestions"> -->
       <h4>Recipe Suggestions</h4>
       <p>Get personalized recipe suggestions based on your preferences.</p>
      </div>
      <div class="feature">
        <!-- <img src="feature3.png" alt="Health Tips"> -->
        <h4>Randomizer Feature</h4>
        <p> If you're unsure what to cook, utilize our Randomizer feature to generate random recipes and explore new dishes.</p>
      </div>
      <div class="feature">
        <!-- <img src="feature2.png" alt="Cooking Instructions"> -->
        <h4>Cooking Instructions</h4>
        <p>Step-by-step cooking instructions for each recipe and every ingredient needed is shown.</p>
       </div>   
  </section>

  <sections class="containers">
  <div class="cnt2">
    <div class="txtPhtAI">
      <span class="text-primary font-semibold">Dashboard</span>
      <h2>Why choose ReceptGPT?</h2>
      <p>With ReceptGPT, you'll save time and effort when searching for recipes and planning meals. Whether you're a novice cook or a seasoned chef, ReceptGPT offers the tools and inspiration you need to create creative and flavorful dishes. </p>
    </div>
    <div class="phtAI"> 
      <img src="{{ url_for('static', filename='images/Kithcen4.avif') }}" alt="photo of a kitchen" 
      fetchpriority="high" width="2000" height="695" decoding="async" data-nimg="1" class="rounded-xl lg:rounded-2xl shadow-xl" style="color:transparent">
    </div>
 </div>

 </sections>

<section class="cntReviews">
  <div class="cntReviews">
    <h2>What Our Users Say</h2>
    <div class="review">
      <div class="review-text">
        <p>I love the randomizer feature. It's a great way to discover new recipes and learn new dishes. I'm looking forward to
        using it more often. </p>
        <h3><NAME></h3>
        <h4>Web Designer</h4>
        <img src="{{ url_for('static', filename='images/') }}" alt="Profile Photo"  transparent="">
      </div>
      <div class="review-text">
        <p>I love the randomizer feature. It's a great way to discover new recipes and learn new dishes. I'm looking forward to
        using it more often. </p>
        <h3><NAME></h3>
        <h4>Web Designer</h4>
        <img src="{{ url_for('static', filename='images/') }}" alt="Profile Photo">
      </div>
      <div class="review-text">
        <p>I love the randomizer feature. It's a great way to discover new recipes and learn new dishes. I'm looking forward to
        using it more often. </p>
        <h3><NAME></h3>
        <h4>Web Designer</h4>
        <img src="{{ url_for('static', filename='images/') }}" alt="Profile Photo">
      </div>
  </div>
</section>
 


  <section class="about">
    <div class="cntAbout">
      <h2>About Us</h2>
      <p>Meet our team of experts dedicated to providing top-notch service.</p>
    </div>
  <div class="alperen">
      <div class="container">
        <div class="phtAbout">
        <img src="{{ url_for('static', filename='images/fotoAlperen.jpeg') }}" alt="Profile Photo">
      </div>
      <div class="txtAbout">
        <h2>Alperen (web designer) </h2>
        <p>"As a web designer, I create attractive visual designs and layouts for websites to provide an optimal user experience."</p>
      </div>
  </div>
  <div class="sam">
      <div class="container">
        <div class="phtAbout">
        <img src="{{ url_for('static', filename='images/fotoSam3.jpeg') }}" alt="Profile Photo">
      </div>
      <div class="txtAbout">
        <h2>Sam (frontend developer)</h2>
        <p>"As a frontend developer, I'm responsible for designing and implementing the user interface of websites." </p>
      </div>
  </div>
  </section>

</main>

<footer>
  <div class="footer">
  <div class="row">
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>
  
  <div class="row">
  <ul>
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('recipes') }}"> Recipes </a></li>
  <li><a href="{{ url_for('gpt') }}">GPT</a></li>
  <li><a href="{{ url_for('about') }}">About</a></li>
  </ul>
  </div>
  
  <div class="row">
  INFERNO Copyright © 2024 Inferno - All rights reserved || Designed By: Alperen Arslan
  </div>
  </div>
  </footer>



</body>
</html>
